﻿@model DVD_App_Sender.Models.DVD

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <form asp-action="InsertDVD">
        <div class="form-horizontal">
            <h1>Add a DVD</h1>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Insert DVD" class="btn btn-default"/>
            </div>
        </div>
    </form>
</body>